<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="GAI-SAN">
    <meta property="og:site_name" content="GAI-SAN">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://awtnb.github.io/gaisan/">
    <meta property="og:description" content="紙面上での分量シミュレーター">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Ctext%20x%3D%2250%25%22%20y%3D%2250%25%22%20style%3D%22dominant-baseline%3Acentral%3Btext-anchor%3Amiddle%3Bfont-size%3A90px%3B%22%3E%26%23x1F9EA%3B%3C/text%3E%3C/svg%3E">
    <title>GAI-SAN</title>
    <link rel="stylesheet" type="text/css" href="./almond.lite.css">
    <link rel="stylesheet" type="text/css" href="./additional.css">
</head>

<body>
    <div id="app">
        <textarea placeholder="paste here!" v-model="content" v-select></textarea>
        <div class="meta">
            <div class="buttons">
                <button @click="setA5" :class="{selected: isA5}">A5判キホン</button>
                <button @click="setShiroku" :class="{selected: isShiroku}">四六判キホン</button>
            </div>
            <div class="counter">
                {{totalChars}}
                文字（
                {{totalGrids}}
                マス相当）
            </div>
        </div>
        <div class="horizon">
            <div class="ui">
                <div class="box">
                    <label>字詰め</label>
                    <input type="number" min="1" v-model="charsPerLine">
                </div>
                <div class="box">
                    <label>行取り</label>
                    <input type="number" min="1" v-model="linesPerPage">
                </div>
                <div class="box">
                    <label>図表数</label>
                    <input type="number" min="0" v-model="figureTableCount">
                </div>
                <div class="box">
                    <label>図表サイズ感：紙面上で約<span class="lines">{{figureLines}}</span>行</label>
                    <input type="range" min="3" v-bind:max="linesPerPage" step="1" v-model="figureLines"/>
                </div>
            </div>
            <div class="gaisan">
                <div class="prefix">約</div>
                {{totalPages}}
                <div class="suffix">ページ</div>
            </div>
        </div>
    </div>
    <div class="repo"><a href="https://github.com/AWtnb/gaisan" target="_blank">github</a></div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
    <script>

        const countBytes = (s) => {
            return [...Array(s.length).keys()].reduce((accum, i) => {
                const c = s.charCodeAt(i);
                // https://zukucode.com/2017/04/javascript-string-length.html
                const nByte = ((c >= 0x0 && c < 0x81) || (c === 0xf8f0) || (c >= 0xff61 && c < 0xffa0) || (c >= 0xf8f1 && c < 0xf8f4))? 1 : 2;
                return accum + nByte;
            }, 0)
        }

        const countGrid = (s) => {
            return Math.ceil(countBytes(s) / 2);
        }

        const countLines = (lines, charsPerLine) => {
            if (charsPerLine < 1) {
                return 0;
            }
            return lines.reduce((accum, line) => {
                if (line.trim().length < 1) {
                    return accum + 1;
                }
                return accum + Math.ceil(countGrid(line) / charsPerLine);
            }, 0);
        }

        const vm = Vue.createApp({
            data: function () {
                return {
                    content: [
                        "城のある町にて　梶井基次郎",
                        "「高いとこの眺めは、アアッ（と咳をして）また格段でごわすな」",
                        "　片手に洋傘、片手に扇子と日本手拭を持っている。頭が奇麗に禿げていて、カンカン帽子を冠っているのが、まるで栓をはめたように見える。――そんな老人が朗らかにそう言い捨てたまま峻の脇を歩いて行った。言っておいてこちらを振り向くでもなく、眼はやはり遠い眺望へ向けたままで、さもやれやれといったふうに石垣のはなのベンチへ腰をかけた。――",
                        "　町を外れてまだ二里ほどの間は平坦な緑。Ｉ湾の濃い藍が、それのかなたに拡がっている。裾のぼやけた、そして全体もあまりかっきりしない入道雲が水平線の上に静かに蟠っている。――",
                    ].join("\n"),
                    charsPerLine: 35,
                    linesPerPage: 30,
                    figureTableCount: 5,
                    figureLines: 10,
                }
            },
            computed: {
                contentLines: function () {
                    return this.content.split(/\n/);
                },
                emptyReduced: function () {
                    return this.contentLines.reduce((accum, line) => {
                        accum.push(line);
                        if (accum.length > 1 && accum.at(-1).trim().length < 1 && accum.at(-2).trim().length < 1) {
                            accum.pop();
                        }
                        return accum;
                    }, []);
                },
                totalChars: function () {
                    return this.emptyReduced.reduce((accum, line) => accum + line.length, 0);
                },
                totalGrids: function () {
                    return this.emptyReduced.reduce((accum, line) => accum + countGrid(line), 0);
                },
                totalLines: function () {
                    return countLines(this.emptyReduced, this.charsPerLine) + this.figureTableCount * this.figureLines;
                },
                totalPages: function () {
                    return (this.linesPerPage < 1)? 0 : Math.ceil(this.totalLines / this.linesPerPage);
                },
                isShiroku: function() {
                    return this.charsPerLine == 30 && this.linesPerPage == 27;
                },
                isA5: function() {
                    return this.charsPerLine == 35 && this.linesPerPage == 30;
                },
            },
            methods: {
                setShiroku: function() {
                    this.charsPerLine = 30;
                    this.linesPerPage = 27;
                },
                setA5: function() {
                    this.charsPerLine = 35;
                    this.linesPerPage = 30;
                },
            },
            directives: {
                select: {
                    mounted: function (el) {
                        el.select()
                    }
                }
            }
        }).mount("#app");
    </script>
</body>

</html>